h1
	{
	padding-left: 480px;
	}
	table
	{
	background-color: none;
	width: 75%;
	border: 1px;
	margin: 20px;
	border-collapse: collapse;
	}
	tr
	{
		border: 1px;
		padding: 10px;
	}
	tr:hover
	{
		bacground:#F5F5F5;
	}
	td
	{
		border: 1px solid black;
		padding: 5px;
	}
	th
	{
	border: 1px solid black;
	background-color: none;
	text-align: left;
	color: black;
	}